{{- $windowModule := "hyprland/window" -}}
{{- $workspaceModule := "hyprland/workspaces" -}}
{{- if .install_niri -}}
{{- $windowModule = "niri/window-title" -}}
{{- $workspaceModule = "niri/workspaces" -}}
{{- end -}}
[{
    // "layer": "top", // Waybar at top layer
    
    // "position": "bottom", // Waybar position (top|bottom|left|right)
    
    //"height": 20, // Waybar height (to be removed for auto height)
    // "width": 1280, // Waybar width
    
    "spacing": 4, // Gaps between modules (4px)
    // Choose the order of the modules

    // Load Modules
    "include": [
        "~/.config/waybar/modules.jsonc"
    ],
    "modules-left": [
        "{{ $windowModule }}"
    ],
   "modules-center": [
       "{{ $workspaceModule }}",
    ],
    "modules-right": [
        "network",
        "group/stats",
        "mpd",
        "pulseaudio",
        "battery",
        "bluetooth",
        "tray",
        "clock",
        "custom/exit"
    ]
  }
]
