//  __  __           _       _
// |  \/  | ___   __| |_   _| | ___  ___
// | |\/| |/ _ \ / _` | | | | |/ _ \/ __|
// | |  | | (_) | (_| | |_| | |  __/\__ \
// |_|  |_|\___/ \__,_|\__,_|_|\___||___/
//
//
// by Stephan Raabe (2023)
// -----------------------------------------------------
//
{
  // Workspaces
{{ if .install_niri }}
  "niri/workspaces": {
    "on-click": "activate",
  },
{{ end }}
{{ if .install_hyprland }}
  "hyprland/workspaces": {
    "on-click": "activate",
    "active-only": false,
    "hide-active": false,
    "all-outputs": false,
{{- if eq .chezmoi.hostname "moinax-desktop" }}
    "persistent-workspaces": {
      "DP-2": [6],
      "DP-1": [7],
      "DP-3": [1, 2, 3, 4, 5]
    },
    "persistent-only": true,
{{- else }}
    "persistent-only": false,
{{- end }}
    "move-to-monitor": false,
    "format": "{name} {icon}",
    "format-icons": {
      "1": "",
      "2": "",
      "3": "",
      "4": "",
      "5": "",
      "6": "",
      "7": "",
      "active": "",
      "default": "",
    },
  },
{{ end }}
  // Focused window
{{ if .install_niri }}
  "niri/window": {
  },
{{ end }}
{{ if .install_hyprland }}
  "hyprland/window": {
    "rewrite": {
      "(.*) - Brave": "$1",
      "(.*) - Chromium": "$1",
      "(.*) - Brave Search": "$1",
      "(.*) - Outlook": "$1",
      "(.*) Microsoft Teams": "$1",
    },
    "separate-outputs": true,
    "icon": true,
    "icon-size": 16,
  },
{{ end }}
  "custom/exit": {
    "format": "",
    "tooltip-format": "Powermenu",
    "on-click": "wlogout -b 4",
    "tooltip": false,
  },
  // Keyboard State
  "keyboard-state": {
    "numlock": true,
    "capslock": true,
    "format": "{name} {icon}",
    "format-icons": {
      "locked": "",
      "unlocked": "",
    },
  },
  // System tray
  "tray": {
    // "icon-size": 21,
    "spacing": 10,
  },
  // Clock
  "clock": {
    // "timezone": "America/New_York",
    "format": "{:%d.%m - %H:%M}",
    "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
    // "format-alt": "{:%Y-%m-%d}",
  },
  // System
  "custom/system": {
    "format": " ",
    "tooltip": false,
  },
  // CPU
  "cpu": {
    "format": " {usage}%  ",
    // "on-click": "alacritty -e htop"
    "on-click": "kitty -T btop btop",
  },
  // Memory
  "memory": {
    "format": " {used}G",
    // "on-click": "alacritty -e htop"
    "on-click": "kitty btop",
  },
  // Harddisc space used
  "disk": {
    "interval": 30,
    "format": "D {percentage_used}% ",
    "path": "/",
    "on-click": "kitty btop",
  },
  "hyprland/language": {
    "format": "/ K {short}",
  },
  "group/stats": {
    "orientation": "horizontal",
    "modules": ["cpu", "memory"],
  },
  // Network
  "network": {
    "family": "ipv4",
    "format": "{ipaddr}",
    "format-wifi": " {signalStrength}%",
    "format-ethernet": " {bandwidthDownBytes} {bandwidthUpBytes}",
    "format-disconnected": "Not connected", //An empty format will hide the module.
    "tooltip-format": " {ifname} via {gwaddri}",
    "tooltip-format-wifi": "   {essid} ({signalStrength}%)",
    "tooltip-format-ethernet": "  {ifname} ({ipaddr}/{cidr})",
    "tooltip-format-disconnected": "Disconnected",
    "max-length": 50,
    "on-click": "~/.config/waybar/scripts/open-network-manager.sh",
  },
  // Battery
  "battery": {
    "states": {
      // "good": 95,
      "warning": 30,
      "critical": 15,
    },
    "format": "{icon} {capacity}%",
    "format-charging": " {capacity}%",
    "format-plugged": " {capacity}%",
    "format-alt": "{icon}  {time}",
    // "format-good": "", // An empty format will hide the module
    // "format-full": "",
    "format-icons": [" ", " ", " ", " ", " "],
  },
  // Pulseaudio
  "pulseaudio": {
    // "scroll-step": 1, // %, can be a float
    "format": "{icon} {volume}",
    "format-bluetooth": "{icon} ",
    "format-bluetooth-muted": " ",
    "format-muted": "",
    "format-source": "",
    "format-source-muted": " ",
    "format-icons": {
      "headphone": "",
      "hands-free": "",
      "headset": "",
      "phone": "",
      "portable": "",
      "car": "",
      "default": ["", "", ""],
    },
    "on-click": "pavucontrol",
  },
  // Bluetooth
  "bluetooth": {
    "format": "",
    "format-disabled": "",
    "format-off": "",
    "interval": 30,
    "on-click": "blueman-manager",
    "format-no-controller": "",
  },
  // Other
  "user": {
    "format": "{user}",
    "interval": 60,
    "icon": false,
  },
  // Idle Inhibator
  "idle_inhibitor": {
    "format": "{icon}",
    "tooltip": true,
    "format-icons": {
      "activated": "",
      "deactivated": "",
    },
    "on-click-right": "loginctl lock-session",
  },
}
