{{- if eq .chezmoi.hostname "moinax-desktop" }}
### LAYOUT: three_monitors ###
# This file defines the three-monitor setup.

# Left Monitor (DP-2) - Vertical
monitor=DP-2,2560x1440,-1440x-500,1,transform,1

# Center Monitor (DP-3) - Horizontal
monitor=DP-3,3440x1440@174.96,0x0,1#,bitdepth,10,cm,hdr

# Right Monitor (DP-1) - Vertical
monitor=DP-1,2560x1440,3440x-500,1,transform,1
{{- else }}
monitor=,preferred,auto,1
{{- end }}
