{{- if eq .chezmoi.hostname "moinax-desktop" }}
-- LAYOUT: three_monitors
-- Left Monitor (DP-2) - Vertical
hl.monitor({ output = "DP-2", mode = "2560x1440",        position = "-1440x-500", scale = 1, transform = 1 })
-- Center Monitor (DP-3) - Horizontal
hl.monitor({ output = "DP-3", mode = "3440x1440@174.96", position = "0x0",        scale = 1, bitdepth = 10, cm = "hdr" })
-- Right Monitor (DP-1) - Vertical
hl.monitor({ output = "DP-1", mode = "2560x1440",        position = "3440x-500",  scale = 1, transform = 1 })
{{- else }}
hl.monitor({ output = "", mode = "preferred", position = "auto", scale = 1 })
{{- end }}
