{{- $textEditor := "org.kde.kate.desktop" -}}
{{- if lookPath "code" -}}
{{-   $textEditor = "code.desktop" -}}
{{- end -}}
{{- if lookPath "cursor" -}}
{{-   $textEditor = "cursor.desktop" -}}
{{- end -}}
{{- $imageViewer := "org.kde.gwenview.desktop" -}}
{{- $pdfViewer := "org.kde.okular.desktop" -}}
{{- $browser := "google-chrome.desktop" -}}
{{- if lookPath "zen-browser" -}}
{{-   if stat (joinPath "/usr/share/applications" "zen.desktop") -}}
{{-     $browser = "zen.desktop" -}}
{{-   else -}}
{{-     $browser = "zen-browser.desktop" -}}
{{-   end -}}
{{- end -}}
[Default Applications]
# Images
image/bmp={{ $imageViewer }}
image/gif={{ $imageViewer }}
image/jpeg={{ $imageViewer }}
image/png={{ $imageViewer }}
image/svg+xml={{ $imageViewer }}
image/tiff={{ $imageViewer }}
image/webp={{ $imageViewer }}
image/avif={{ $imageViewer }}
image/heif={{ $imageViewer }}

# Videos
video/mp4=mpv.desktop
video/mpeg=mpv.desktop
video/ogg=mpv.desktop
video/webm=mpv.desktop
video/x-matroska=mpv.desktop
video/x-msvideo=mpv.desktop
video/quicktime=mpv.desktop
video/x-flv=mpv.desktop

# Audio
audio/aac=mpv.desktop
audio/flac=mpv.desktop
audio/mpeg=mpv.desktop
audio/ogg=mpv.desktop
audio/opus=mpv.desktop
audio/wav=mpv.desktop
audio/x-wav=mpv.desktop
audio/webm=mpv.desktop
audio/x-vorbis+ogg=mpv.desktop

# Documents
application/pdf={{ $pdfViewer }}

# Text
text/plain={{ $textEditor }}
text/x-csrc={{ $textEditor }}
text/x-chdr={{ $textEditor }}
text/x-c++src={{ $textEditor }}
text/x-python={{ $textEditor }}
text/x-shellscript={{ $textEditor }}
text/xml={{ $textEditor }}
text/csv={{ $textEditor }}
text/markdown={{ $textEditor }}
application/json={{ $textEditor }}
application/x-yaml={{ $textEditor }}
application/toml={{ $textEditor }}

# Web
text/html={{ $browser }}
x-scheme-handler/http={{ $browser }}
x-scheme-handler/https={{ $browser }}
x-scheme-handler/about={{ $browser }}
x-scheme-handler/unknown={{ $browser }}
x-scheme-handler/mailto={{ $browser }}
x-scheme-handler/chrome={{ $browser }}
application/x-extension-htm={{ $browser }}
application/x-extension-html={{ $browser }}
application/x-extension-shtml={{ $browser }}
application/xhtml+xml={{ $browser }}
application/x-extension-xhtml={{ $browser }}
application/x-extension-xht={{ $browser }}

# Other schemes
x-scheme-handler/jetbrains=jetbrainsd.desktop
x-scheme-handler/slack=slack.desktop

# File manager
inode/directory=org.kde.dolphin.desktop

[Added Associations]
image/bmp={{ $imageViewer }}
image/gif={{ $imageViewer }}
image/jpeg={{ $imageViewer }}
image/png={{ $imageViewer }}
image/svg+xml={{ $imageViewer }}
image/tiff={{ $imageViewer }}
image/webp={{ $imageViewer }}
image/avif={{ $imageViewer }}
image/heif={{ $imageViewer }}
video/mp4=mpv.desktop
video/mpeg=mpv.desktop
video/ogg=mpv.desktop
video/webm=mpv.desktop
video/x-matroska=mpv.desktop
video/x-msvideo=mpv.desktop
video/quicktime=mpv.desktop
video/x-flv=mpv.desktop
application/pdf={{ $pdfViewer }}
inode/directory=org.kde.dolphin.desktop
