[Unit]
Description=SwayOSD server
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayosd-server -s %h/.config/swayosd/style.css --top-margin 0.15
Restart=on-failure

[Install]
WantedBy=graphical-session.target
