* {
    font-family: "Maple Mono NF", "JetBrainsMono Nerd Font", monospace;
    font-size: 18px;
}

window {
    background-color: rgba(239, 241, 245, 0.9);
}

button {
    color: #4c4f69;
    background-color: rgba(220, 224, 232, 0.6);
    border: 2px solid rgba(100, 100, 255, 0.2);
    border-radius: 16px;
    margin: 8px;
    padding: 8px 0;
}

button:hover,
button:focus {
    color: #1e1e2e;
    background-color: rgba(100, 100, 255, 0.3);
    border-color: #6464ff;
    outline: none;
}

button:active {
    color: #1e1e2e;
    background-color: rgba(255, 100, 255, 0.3);
    border-color: #ff64ff;
}
